# Content:
1. [Python variables](#variables)
2. [Data structures](#datastructures)
3. [Control flow / Looping](#flow)
4. [Python idioms](#idioms)
5. [User-defined functions](#functions)

# 1. <a name="variables">Python variables</a>

In a program, we deal with data. The value of the data are stored in containers that we commonly call as variables. 
Python is a dynamically typed language where the datatype of a data is determined by the value of the data.

In [1]:
x = 2; print(x, type(x))

In [2]:
x = 2.; print(x, type(x))

In [3]:
x = '2'; print(x, type(x))

For declaring strings, one can use single or double quotes, and be consistent throughout the program.

From the above examples, we have also seen that the datatype of a variable can even change if the variable is reassigned a different value.

Python variables _cannot_ have a fixed datatype. Variables refer to a specific location in the computer memory units. When we type `a=2.0`, the location in memory where `2.0` is stored is mapped to the variable. Once we change to another variable `x='two'`, the old reference to `2.0` is deleted and a new reference to `two` is mapped to the variable `x`.

It is possible to assign a value to a variable with the type specified. This is called _casting_.

In [4]:
x = int(2); print(x, type(x))

But this does not prevent the datatype of the variable to change upon a reassignment.

In [5]:
x = 2.; print(x, type(x))

## 1.1 Variable names

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (val, Val and VAL are three different variables)

In [6]:
val = 2.0; print(val)

In [7]:
Val = 3.0; print(Val)

In [8]:
VAL = 4.0; print(VAL)

In [9]:
print(val, Val, VAL)

Never use the characters `l` (lowercase letter el), `O` (uppercase letter oh), or `I` (uppercase letter eye) as single character variable names because these characters are sometimes indistinguishable from the numerals one and zero. When tempted to use `l`, use `L` instead.

## 1.2 Long variable names

For long variable names with more than one word, one should make the name readable by using one the following conventions

_Camel case_, where from the second word, first letter is capitalized

In [10]:
localPropertyIndex=1

_Pascal case_, where the first letter of each word is capitalized.

In [11]:
LocalPropertyIndex=1

_Snake case_, where each word is separated by an underscore.

In [12]:
local_property_index=1

# 2. <a name="datastructures">Data structures</a>

One collect basic Python data in containers (or compound data) also called as data structures.

## 2.1 string

In [13]:
val='Apple'

In [14]:
print(val[0])

A

In [15]:
print(val[-1]) # last entry

e

In [16]:
print(len(val))

5

## 2.2 set

In [17]:
A={3,1,2} # A set is always ordered
print(A)

{1, 2, 3}

In [18]:
A={3,1,2,3} # A set cannot have duplicates
print(A)

{1, 2, 3}

In [19]:
A={'a','aa','b'} # A set is always ordered
print(A)

{'aa', 'a', 'b'}

You cannot call an individual element of a set. Uncomment the following line, click run and see what happens.

In [20]:
# print(A[1])

## 2.3 tuple

In [21]:
A=(1,2,3)
print(A[1])

2

A tuple is immutable, which means that you cannot change the value of an element in a tuple. Uncomment the following line, click run and see what happens.

In [22]:
#A[1]=4
#print(A[1])

## 2.4 list

In [23]:
A=[1,2,3]
print(A[1])

2

In [24]:
A[1]=4
print(A)

[1, 4, 3]

## 2.5 dictionary

In [25]:
swdict={               \
        'Luke':23,     \
        'Leia':23,     \
        'Hans Solo':36,\
        'Chewbacca':203\
       }

#swdict={'Luke':23, 'Leia':23, 'Hans Solo':36,'Chewbacca':203} # dict in single-line

In [26]:
print(swdict)

{'Luke': 23, 'Leia': 23, 'Hans Solo': 36, 'Chewbacca': 203}

You can query (i.e. get/obtain) the value of an element (i.e. an entry) in the set py providing the corresponding key (i.e. label) as a string argument.

In [27]:
swdict['Chewbacca']

203

In [28]:
print('\'Chewbacca\' is the key and ', swdict['Chewbacca'], ' is its value')

'Chewbacca' is the key and  203  is its value

Let's update the dictionary, i.e. add a new entry

In [29]:
swdict['Darth Vader']=45 # add an entry
print(swdict)

{'Luke': 23, 'Leia': 23, 'Hans Solo': 36, 'Chewbacca': 203, 'Darth Vader': 45}

You can also remove an entry from the dictionary

In [30]:
del swdict['Leia'] # remove an entry
print(swdict)

{'Luke': 23, 'Hans Solo': 36, 'Chewbacca': 203, 'Darth Vader': 45}

You can delete the entire dictionary if needed

In [31]:
del swdict 
#print(swdict)

You can query on an element of `string`, `tuple`, `list` or a `dictionary` using square brackets. For the `string`, `tuple`, and `list`, one can use the index. For `dictionary`, one has to use the key as the index.

In [32]:
val='Apple'; print(val[1])

p

In [33]:
A=(1,'A',3); print(A[1])

A

In [34]:
A=[1,'A',3]; print(A[1],A[2])

A 3

In [35]:
stat={'Runs':60,  'Wickets':10 }; print(stat['Runs'])

60

### Shallow copy and deep copy

In [36]:
A=[1,2,3]
B=A     # This is a shallow copy.
B[1]=4  # If you reassign a value in B, it also affects A
print(A,B)

[1, 4, 3] [1, 4, 3]

In [37]:
A=[1,2,3]
B=A.copy()   # This is a deep copy.
B[1]=4       # If you reassign a value in B, it does not affect A
print(A,B)

[1, 2, 3] [1, 4, 3]

# 3. <a name="flow">Control flow / Looping</a>

## 3.1 if

In [38]:
a = 1
b = 2

if b > a:
    print('b > a')
elif a == b:
    print('a and b are equal')
else:
    print('b < a')

b > a

## 3.2 for

In [39]:
A =['A','B','C']

for i in A:
    print(i)

A
B
C

## 3.3 continue/break

In [40]:
for i in range(10):
    if i == 5:
        continue  # skips with i is 5
    print(i)

0
1
2
3
4
6
7
8
9

In [41]:
for i in range(10):
    if i == 5:
        break  # skips the entire loop when i is 5
    print(i)

0
1
2
3
4

## 3.4 for/else

In the `for/else` structure, `else` is encountered only after the loop is finished.

In [42]:
for i in range(5):
    print(i)
else:
    print('Values >= 5 not encountered')

0
1
2
3
4
Values >= 5 not encountered

## 3.5 while

In [43]:
dx = 1
while dx > 1e-2:
    dx -= 0.1
    print(dx)

0.9
0.8
0.7000000000000001
0.6000000000000001
0.5000000000000001
0.40000000000000013
0.30000000000000016
0.20000000000000015
0.10000000000000014
1.3877787807814457e-16

# 4. <a name="idioms">Python idioms</a>

## 4.1 Multiple assignment

Use

In [44]:
x = y = 1 
print(x,y)

1 1

instead of

In [45]:
x = 1
y = 1
print(x,y)

1 1

Multiple values can be assigned in a single line too.

In [46]:
x, y = 1, 2
print(x,y)

1 2

An application of the last line is how two values can be swapped in a single line.

In [47]:
x, y = 1, 2
print(x,y)

#swap
x, y = y, x
print(x,y)

1 2
2 1

Think about how to swap two variables in C++ or Fortran.

## 4.2 Integer/Float increment

In [48]:
x = 1.0
x += 0.5 # Instead of x = x + 0.5 
print(x)

1.5

In [49]:
x = 0.0
x -= 0.5 # Instead of x = x - 0.5 
print(x)

-0.5

In [50]:
x = 1
x *= 2 # Instead of x = x * 2 
x *= 3 # Instead of x = x * 3 
print(x)

6

In [51]:
x = 1.0
x /= 2 # Instead of x = x / 2 
x /= 3 # Instead of x = x / 3 
print(x, ' is same as 1/6')

0.16666666666666666  is same as 1/6

## 4.3 Chained comparison

In [52]:
x, y, z = 1, 2, 3

In [53]:
# Suppose you want
if x <= y and y <= z:
    print('x<y<z')
else:
    print('x, y, z are not in desired order')

x<y<z

In [54]:
# You should use
if x <= y <= z:
    print('x<y<z')
else:
    print('x, y, z are not in desired order')

x<y<z

## 4.4 True/False conditions

In [55]:
x, y = 1, 2

if x < y:
    status = True

In [56]:
# Suppose we want
if status == True:
    print('Condition reached')

Condition reached

In [57]:
# You should use
if status:
    print('Condition reached')

Condition reached

Note that you can have 0 instead of False and any other value for True.

In [58]:
a = 0

if a:
    print(a)

# will not print anything

In [59]:
a = -2.5

if a:
    print(a)

-2.5

## 4.5 Printing repeated characters

In [60]:
a=1.0

# Suppose we want
print('-----------')
print('Answer:',a)
print('-----------')

-----------
Answer: 1.0
-----------

In [61]:
# You should use
print('{0}'.format('-'*11))
print('Answer:',a)
print('{0}'.format('-'*11))

-----------
Answer: 1.0
-----------

In [62]:
# Or even better is to use
print('{0}\nAnswer:{1}\n{0}'.format('-'*11,a))

-----------
Answer:1.0
-----------

## 4.6 Assigning a list

In [63]:
# Suppose you want
indices = []
for i in range(5):
    indices.append(i)

print(indices)

[0, 1, 2, 3, 4]

In [64]:
# You should use
indices = [i for i in range(5)]
print(indices)

[0, 1, 2, 3, 4]

Suppose you want to include a condition, say you want only odd numbers.

In [65]:
# Suppose you want
indices = []
for i in range(10):
    if i%2 == 1:
        indices.append(i)

print(indices)

[1, 3, 5, 7, 9]

In [66]:
# You should use
indices = [i for i in range(10) if i%2 == 1]
print(indices)

[1, 3, 5, 7, 9]

In [67]:
# You can use the concept that 0 can be used for False
indices = [i for i in range(10) if (i%2)]
print(indices)

[1, 3, 5, 7, 9]

In [68]:
indices = [i for i in range(10) if not(i%2)]
print(indices)

[0, 2, 4, 6, 8]

## 4.7 Set properties

In [69]:
A = [i for i in range(6)]
B = [i for i in range(11)]
print(A,B)

[0, 1, 2, 3, 4, 5] [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
A, B = set(A), set(B)
print(A,B)

{0, 1, 2, 3, 4, 5} {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [71]:
# Union
print( A | B )
print( list(A | B) )

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
# Intersection
print( list( A & B ) )

[0, 1, 2, 3, 4, 5]

In [73]:
# Union - Intersection 
# Symmetric difference. Either in A or B, but not common
print( list( A ^ B ) )

[6, 7, 8, 9, 10]

In [74]:
# In A not in B
print( list( A - B ) )

[]

In [75]:
# In B not in A
print( list( B - A ) )

[6, 7, 8, 9, 10]

# 5. <a name="functions">User-defined functions</a>

If part of your code performing a task is repeated multiple times, it is best to define that part of the code as a function. Here is how you can make your own function. This function will determine if an input data is an integer or not. The output will be 'true' if the data is an integer and 'false' is the data is not an integer.

In [76]:
def is_int(x):
    '''
    Takes an object as input and returns a boolean data as output.
    Later, I have to add more information here
    
    Example case 1: 
    ---------------
       use it to check whether a number is an integer
       is_int(5)
    '''
    out=False       # Assign False at the beginning 
    
    data_1=type(x)
    data_2=type(1)
    
    out = data_1 == data_2
    #if data_1 == data_2:
    #    out=True
    
    return(out)

In [77]:
help(is_int)

Help on function is_int in module __main__:

is_int(x)
    Takes an object as input and returns a boolean data as output.
    Later, I have to add more information here

    Example case 1:
    ---------------
       use it to check whether a number is an integer
       is_int(5)

In [78]:
print(is_int.__doc__)

    Takes an object as input and returns a boolean data as output.
    Later, I have to add more information here

    Example case 1:
    ---------------
       use it to check whether a number is an integer
       is_int(5)

In [79]:
is_int(4)

True

In [80]:
is_int(4.0)

False

Self-Study: Read section 1.3.4 "User-Defined Functions" from the prescribed text-book and learn about    

-- local variables   
-- default value of an argument   
-- pass-by-value   
-- pass-by-reference